@import url('https://fonts.googleapis.com/css2?family=Merienda:wght@700&display=swap');
body { 
    width: 960px;
    margin: auto; 
    font-family: 'Roboto', sans-serif;
    }
html {
    background-color: #ECEFF1;

}

header nav a {
    text-decoration: none;
    float: right;
    color:rgb(192, 143, 7);
  
}
main section div img{
    width: 100%;
    height: 300px;
    object-fit: cover;
}
main section {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 20px;
}
header { 
    display: flex;  
    align-items: center;  
    justify-content: space-between;  
    padding: 0 20px;
    margin-bottom: 50px;
    align-content: center;
    background-color: rgb(25, 23, 53);
    margin-top: 25px;
}
header img {
    float: left;
    width: 100px;
    margin-top: 30px;
    margin-bottom: 30px;
}
main h2 {
    font:bolder;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-size: x-large;
    font-weight: 1.5 ;
}

#h1 {
    text-align: center;
    padding-right: 320px;
    font:bolder;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-size: xx-large;
} 
.par1{
    font-family: 'Merienda', cursive;
    padding-left: 400px;
}
/* contact us */
main button{
    width: 300px;
    height: 100px;
    margin: 25px 400px;
    /* background-color: burlywood; */
}
main button a{
    text-decoration: none;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    color: black;
    font-size: x-large;
}
.header{
    height: 150px;
}
.header1{
    display: grid;
    grid-template-columns: 100px auto;
    align-items: center;
    justify-content: space-between;
    padding: 0 30px;
    margin-bottom: 25px;
    height: 150px;
}
header nav a{
    text-decoration: none;
    color: rgb(192, 143, 7);
    padding: 0px 30px;
    text-transform: uppercase;
    position: relative;
    transition: all 350ms;
    float: left;
    margin-top: 40px;
    margin-bottom: 30px;
}
main div{

    color:black;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-weight: bolder;
    /* margin-top: 20px; */
}


fieldset{
    margin-top: 20px;
    padding-left: 20px;
    text-align: center;
}
fieldset label span {
    padding-right: 10px;
}
legend{
    padding-bottom: 20px;
    padding-left:35px ;
}
form{
    margin-top: 20px;
}
main{
    width: 100%;
}
.videos{
    display: grid;
    grid-template-columns: 50% 50%;
    gap: 70px;
    margin-left: 15px;
    margin-top: 50px;
    margin-right: 45px;
    margin-bottom: 70px;
}
#links {
    display:grid;
    grid-template-columns: auto auto auto auto ;
     width: 100%;
     color: rgb(192, 143, 7);
     background-color: rgb(25, 23, 53);
 }
#links a {
   color:white;
   text-decoration: none;
    font-size: 15px;
    font-weight: 15px; 
    padding-top: 50px;
    padding-bottom: 50px;
  
}
#links a:nth-child(1){
    padding-left: 90px;
}
#links a:nth-child(4){
    padding-right:0px ;
    margin-right: -35px;
}
#links a:hover{
    color:rgb(238, 153, 17) ;

} 
input,#selectMajor {
    width: 250px;
    height: 25px;
}
#submit ,#clear{
    margin-left: 55px;
}
.body1{
    display: grid;
    grid-template-rows: 100px 400px 50px ;
   
}
.maincontact{
    display: grid;
    grid-template-rows: auto 1fr 100px ;
    margin-top: 100px;
    margin-bottom: 150px;
}
.contactus{
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 60px;
    margin-bottom: 150px;
}
.contactus img{
    padding-left: 25px;
    padding-right: 20px;
}


footer {
    display: flex;  
    align-items: center;  
    justify-content: center;  
    text-transform: capitalize;
    margin-top: 100px;
    background-color: rgb(25, 23, 53);
    margin-bottom: 200px;
  

}
footer p {
    color: rgb(192, 143, 7);
    padding-top: 50px;
    padding-bottom: 50px;
}
.p{
    padding-left: 75px;
    font-weight: 3;
    margin-top: 20px;
    margin-bottom: 10px;
    line-height: 25px;
}
.footercontact{
    display: flex;  
    align-items: center;  
    justify-content: center;  
    text-transform: capitalize;
    margin-top:350px; 
    background-color: rgb(25, 23, 53);
    height: 100px;
}
.mainP{
    padding-top: 20px;
    padding-bottom: 20px;
    line-height: 25px;
    font-family: Georgia, 'Times New Roman', Times, serif;
   
}
iframe{
    width: 420px;
    height: 350px;

}

div p  {
    padding-left: 170px;
    padding-top: 25px;
    padding-bottom: 25px;

}
#userName{
    display: inline;
    padding-left: 0px; 
    padding-top: 50px;
    padding-bottom: 25px;
}
.imgcontact{
  padding-left: 125px;
  padding-top: 30px;
  opacity: 0.5;
}
main div div {
    padding-top: 25px;
    padding-bottom: 25px;
}